#nav {
     text-align: center;
    width: 900px;
    height: 27px;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header {
    height: 100px;
    width: 900px;
    background-color: lightgrey;
}

#main {
    align-content: center;
    text-align: center;
    font-family: Monospace;
    width: 700px;
    height: 500px;
}
